@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "themelight";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #fefefe; /* very light background */
  --color-base-content: #2c2c2c; /* softer black for readability */

  --color-primary: #7cc6fe; /* light blue for cleanliness */
  --color-primary-content: #ffffff;

  --color-secondary: #d0f0fd; /* soft sky-blue tone */
  --color-secondary-content: #1a1a1a;

  --color-accent: #b3e5fc; /* very light accent blue */
  --color-accent-content: #1a1a1a;

  --color-neutral: #e5e7eb; /* neutral light gray */
  --color-neutral-content: #2c2c2c;
}

.custom-shape-divider-top-1753591418 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1753591418 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
}

.custom-shape-divider-top-1753591418 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-bottom-1753591299 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1753591299 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
}

.custom-shape-divider-bottom-1753591299 .shape-fill {
  fill: #ffffff;
}
